.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0px;


}

.home img {
    width: 450px;
    height: 200px;
}

.color {
    color: darkslateblue;
}

.grridd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: lightgray; */
    margin: 10px;
    padding-bottom: 10px;
}

.grridd img {
    width: 100%;
    height: 200px;
}