.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0px;


}

.home img {
    width: 450px;
    height: 200px;
}

.color {
    color: darkslateblue;
}