.card {
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 5px;
    background-color: lightgray;
    /* padding: 10px; */
}

.cardbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

.btnn {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}